.footer {
  background: #12403c;
  padding: 40px 0;
  border-top: 2px solid #e5dec2;
  // display: block;
}

.footer__container {
  // display: flex;
  // align-items: baseline;
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: left;
    justify-content: center;
  }
}

.footer__content {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // @media screen and (min-width: 1200px) {
  //   margin-right: 70px;
  // }
}

.footer-address {
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
  }
}

address {
  @media screen and (min-width: 1200px) {
    margin: 0px !important;
  }
}

// .footer__thumb--social {
//   margin-right: auto;
// }

.header__thumb--social {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 768px) {
    margin-right: 0;
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    align-items: center;
    gap: 135px;
  }
}

.footer__text {
  // display: block;
  /* margin-bottom: 20px; */
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    text-align: center;
  }
}

.footer__address {
  text-decoration: none;
  // display: block;
  padding: 0;
  margin-bottom: 9px;

  color: #ffffff;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  @media screen and (min-width: 1200px) {
    margin-bottom: 5px;
  }

  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__address:hover {
  color: #e5dec2;
}

.footer__link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);

  @media screen and (min-width: 1200px) {
    margin-bottom: 5px;
    text-align: center;
  }

  &:hover,
  &:focus {
    color: #e5dec2;
  }
}

.footer__item {
  margin-top: 9px;
}

.form__subscribe {
  display: block;
  margin-top: 0em;
}

.footer-tablet {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
}

.footer__qwertyStudio {
  @media screen and (min-width: 1200px) {
    margin-top: 25px;
    margin-top: 10px;
  }
}

.footer__rights {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  text-align: center;
  color: #e5dec2;
  margin-bottom: 5px;
  gap: 2px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.footer__addInfo {
  color: #fff;
  font-weight: 600;
  margin: 0px 5px;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #e5dec2;
    text-decoration: none;
    transition: 300ms;
  }
}

#footerDev-2 {
  z-index: 99;
}

.footer__infoHolder {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

// <div class="subscribe">
//             <form class="form__subscribe" name="subscribe-form" autocomplete="on" >
//                   <p class="footer__text">подпишитесь на рассылку</p>
//                   <div class="subscribe__row">
//                     <label>
//                         <input type="email"
//                         name="email" id="subscribe-email"
//                         class="subscribe__email"
//                         placeholder="Email"/>
//                       </label>
//                       <button type="submit"
//                       class="button__send">Подписаться
//                       <svg class="icon__send icon__send--append">
//                           <use href="./images/icons.svg#icon-iconsend"></use>
//                       </svg>
//                     </button>
//                   </div>
//                 </form>
//         </div>
