.navigation {
  margin-right: auto;
  // margin-left: 88px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: $main-title-color;
  display: none;

  flex-direction: row-reverse;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    margin-left: 93px;
    width: auto;
  }
}

.navigation__list {
  display: flex;
  list-style: none;
  font-family: "Source Sans Pro";
  padding: 0;
  margin: 0;
  background-color: #12403c;
  text-transform: uppercase;

  // li:nth-child(n + 2) {
  //   margin-left: 50px;
  // }
  @media screen and (min-width: 1200px) {
    gap: 25px;
  }
}

.navigation__link {
  display: block;
  text-decoration: none;
  color: $second-title-color;
  font-family: Nunito, sans-serif;
  padding: 36px 0;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation__link--current {
  color: $accent-color;
  position: relative;
}

.navigation__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.navigation__paintings--current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #57a7b3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.navigation__paintings--current {
  color: #e8e6dd;
  position: relative;
}
